src/main/resources/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="schemaWSDL"
             targetNamespace="schemaWSDL"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="schemaWSDL"
             xmlns:ns="schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema targetNamespace="schemaWSDL">
            <xsd:import namespace="schema" schemaLocation="../xsd/schema.xsd"/>
        </xsd:schema>
    </types>

    <service name=" UserService">
        <port name="UserServicePort" binding="tns:UserServicePortBinding">
            <soap:address location="http://localhost:8080/user"/>
        </port>
    </service>

    <binding name="UserServicePortBinding" type="tns:UserServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="add">
            <soap:operation/>
            <input name="addReq">
                <soap:body use="literal"/>
            </input>
            <output name="addRes">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation/>
            <input name="updateReq">
                <soap:body use="literal"/>
            </input>
            <output name="updateRes">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOne">
            <soap:operation/>
            <input name="getOneReq">
                <soap:body use="literal"/>
            </input>
            <output name="getOneRes">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <portType name="UserServicePortType">
        <operation name="list">
            <input name="request" message="tns:userListRequest"/>
            <output name="response" message="tns:userListResponse"/>
        </operation>
        <operation name="add">
            <input name="addRequest" message="tns:addUserRequest"/>
            <output name="addResponse" message="tns:addUserResponse"/>
        </operation>
        <operation name="update">
            <input name="updateRequest" message="tns:updateUserRequest"/>
            <output name="updateResponse" message="tns:updateUserResponse"/>
        </operation>
        <operation name="getOne">
            <input name="getOneRequest" message="tns:getOneRequest"/>
            <output name="getOneResponse" message="tns:getOneResponse"/>
        </operation>
    </portType>

    <message name="userListResponse">
        <part name="parameters" element="ns:users"/>
    </message>
    <message name="userListRequest"/>
    
    <message name="addUserRequest">
        <part name="parameters" element="ns:addUserInput"/>
    </message>
    <message name="addUserResponse">
        <part name="parameters" element="ns:addUserOutput"/>
    </message>

    <message name="updateUserRequest">
        <part name="parameters" element="ns:updateUserInput"/>
    </message>
    <message name="updateUserResponse">
        <part name="parameters" element="ns:updateUserOutput"/>
    </message>

    <message name="getOneRequest">
        <part name="parameters" element="ns:getOneUserInput"/>
    </message>
    <message name="getOneResponse">
        <part name="parameters" element="ns:getOneUserOutput"/>
    </message>

    <service name="InsuranceService">
        <port name="InsuranceServicePort" binding="tns:InsuranceServicePortBinding">
            <soap:address location="http://localhost:8080/insurance"/>
        </port>
    </service>

    <binding name="InsuranceServicePortBinding" type="tns:InsuranceServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getAll">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation/>
            <input name="addReq">
                <soap:body use="literal"/>
            </input>
            <output name="addRes">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation/>
            <input name="updateReq">
                <soap:body use="literal"/>
            </input>
            <output name="updateRes">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getByUserId">
            <soap:operation/>
            <input name="getOneReq">
                <soap:body use="literal"/>
            </input>
            <output name="getOneRes">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <portType name="InsuranceServicePortType">
        <operation name="getAll">
            <input name="request" message="tns:getAllRequest"/>
            <output name="response" message="tns:getAllResponse"/>
        </operation>
        <operation name="create">
            <input name="addRequest" message="tns:createRequest"/>
            <output name="addResponse" message="tns:createResponse"/>
        </operation>
        <operation name="update">
            <input name="updateRequest" message="tns:updateRequest"/>
            <output name="updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="getByUserId">
            <input name="getOneRequest" message="tns:getByUserIdRequest"/>
            <output name="getOneResponse" message="tns:getByUserIdResponse"/>
        </operation>
    </portType>


    <message name="getAllResponse">
        <part name="parameters" element="ns:insurances"/>
    </message>
    <message name="getAllRequest"/>

    <message name="createRequest">
        <part name="parameters" element="ns:createInsuranceRequest"/>
    </message>
    <message name="createResponse">
        <part name="parameters" element="ns:createInsuranceResponse"/>
    </message>

    <message name="updateRequest">
        <part name="parameters" element="ns:updateInsuranceRequest"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="ns:updateInsuranceResponse"/>
    </message>

    <message name="getByUserIdRequest">
        <part name="parameters" element="ns:getByUserIdRequest"/>
    </message>
    <message name="getByUserIdResponse">
        <part name="parameters" element="ns:getByUserIdResponse"/>
    </message>

</definitions>



