src/main/resources/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="UsersWSDL"
             targetNamespace="users"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="users"
             xmlns:ns="users"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema targetNamespace="users">
            <xsd:import namespace="users" schemaLocation="../xsd/schema.xsd"/>
        </xsd:schema>
    </types>

    <service name=" UserService">
        <port name="UserServicePort" binding="tns:UserServicePortBinding">
            <soap:address location="http://localhost:8080/user"/>
        </port>
    </service>

    <binding name="UserServicePortBinding" type="tns:UserServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="list">
            <soap:operation/>
            <input name="request">
                <soap:body use="literal"/>
            </input>
            <output name="user">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="add">
            <soap:operation/>
            <input name="user">
                <soap:body use="literal"/>
            </input>
            <output name="user">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <portType name="UserServicePortType">
        <operation name="list">
            <input name="request" message="tns:userListRequest"/>
            <output name="response" message="tns:userListResponse"/>
        </operation>
        <operation name="add">
            <input name="request" message="tns:addUserRequest"/>
            <output name="response" message="tns:addUserResponse"/>
        </operation>
    </portType>

    <message name="userListResponse">
        <part name="list" element="ns:users"/>
    </message>
    <message name="userListRequest"></message>
    
    <message name="addUserRequest">
        <part name="list" element="ns:users"/>
    </message>
    <message name="addUserResponse"></message>

</definitions>



